# Git
.git
.gitignore
.gitattributes

# Node
node_modules

# PHP vendor
vendor

# Laravel runtime
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache

# Compiled assets
public/build
public/hot

# Environment files
.env
.env.*
!.env.example

# Docker files
docker-compose*.yml

# CI/CD
.github
README.md

# Tests
tests
phpunit.xml

# K8s manifests
k8s/